@tailwind utilities;
@import "tailwindcss";

@theme {
  --color-nhc-blue: #285F9D;
  --color-footer-bg:#292759;
  --color-light-gray:#F1F1F1;
  --color-dark-gray:#7F7F7F
}
:root {
    font-family: var(--font-inter), sans-serif;
  }
  
  .font-abel {
    font-family: var(--font-abel), sans-serif;
  }
  
  .font-geist {
    font-family: var(--font-geist-sans), sans-serif;
  }
  
  .font-mono {
    font-family: var(--font-geist-mono), monospace;
  }